/*

*/


.slider {
  margin-bottom: 0;
  height: 150px;
}

.slider li img {
  width: 100%;
}

.form-wrapper {
  padding: 10px;
}


.movieimg {
  width: 365px;
  height: 282px;
}



/* splash page */
.splash {
  display: block;
}
 
[ng-cloak].splash {
  display: block !important;
}
    
.splash {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%; 
  /*filter: alpha(opacity=60);
  opacity: 0.6;*/
  background: #FFFF;
}
 
.splash h2 {
  text-align: center;
  font-size: 4em;
  color:#002459;      
}

/**/
.bar-title .logo {
	  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 44px;
  color: #002459;
  text-align: center;
  /*text-shadow: 0 -1px rgba(0, 0, 0, .5);*/
  white-space: nowrap;
  padding:5px;

}
.bar-title .logo img {

	width:90px;
	height:29px;
}


.bar-title .dropdown {
		  position: absolute;
  top: 0;
  right: 0px;
  display: block;
  width: 55px;
  padding-right:20px; padding-left:20px
  font-size: 12px;
  font-weight: bold;
  line-height: 44px;
  color: #012559;
  text-align: right;
  /*text-shadow: 0 -1px rgba(0, 0, 0, .5);*/
  white-space: nowrap;
 /*background:#ebebeb;*/



}

.bar-title .dropdown .drop {

  /*background:red;*/

}


.upper-thin {
  color:#002459;
  font-size:18px;

  font-family: 'Conv_HelveticaNeueLTPro-Th';
}

.lower-thick {
    color:#002459;
  font-size:18px;
  font-family: 'Conv_HelveticaNeueLTPro-HvEx';
   letter-spacing: -1.5px;

}

.cap-wrap {

  /*background: yellow;*/
  float:left;
  margin-left:10px;

}

.number  {

   float:left;
  /*background: green;*/
  font-size: 55px;
  color:#002459;
  font-family: 'Conv_HelveticaNeueLTPro-HvEx';
  margin-left:10px;
  padding:0;line-height: 55px;

}


ul.custom-list  {


   list-style-type: round;
 list-style-position: inside;
 list-style-image: none;
 margin-top:5px;
}

.saab-box {


  background-color: #ebebeb;
  color:#002459;
  margin-top:10px;
  margin-bottom:10px;

}

.saab-box .context, .saab-box .narrative {
  margin-top:10px;margin-bottom:10px;
  padding:5px;
}


.dropdown-expanded {

  display:none;
  width:100%;
  background:#012559;
  margin:0; padding:0;
  position: absolute;
  top:44px;
  color:#FFFFFF;
  z-index: 1000;
}
.dropdown-expanded li {

  border-bottom: 1px solid #385580;
  
  border-collapse: collapse;
  font-size: 18px;
  padding-top:15px; padding-bottom:15px;
}

.dropdown-expanded a {
  color:#FFFFFF;
}
