 <!-- our brand platform -->
  <header class="bar-title">
 <a class="button-prev" href="#/">
      Back
    </a>
   <!-- <img class="logo" src="img/saab_logo.png"  > -->
      
      <div class="logo"><img src="img/saab_logo.png"  ></div>
    <div class="dropdown">drop</div>
  </header>
 <nav class="bar-tab">
    <ul class="tab-inner">
      
    
      <li class="tab-item">
        <a href="http://www.saabgroup.com/en/Portals/Saab-Brand-Portal/">
          <img class="tab-icon" src="img/icon-settings.png">
          <div class="tab-label">Saab Brand Portal</div>
        </a>
      </li>
    </ul>
  </nav>

<div class="content">

    <ul class="list">
      <li class="list-divider">{{page.caption}}</li>
    </ul>
  
         <!--header-->
      <div class="content-padded" >
              <div class="number">
            {{page.number}}
          </div>
          
          <div class="cap-wrap">
                <div class="upper-thin">
                    {{page.name}}
                </div>

                <div class="lower-thick">
                  {{page.name2}}
                </div>
          </div>

          
          <div style="clear:both;">
    <!-- the end of header -->
      <h3 class="content-padded">Our brand essence</h3>
        <p class="content-padded">The thinking edge is our Brand Essence. It’s what makes us different, and able to fulfill our mission. It forms the core of all our communications.</p>

      <p class="content-padded">In a rapidly changing world where new threats continue to emerge, we firmly believe in the right of countries, institutions and individuals to protect their freedom and safety. It’s a belief born out of our history, for over 75 years our products and solutions have been helping to create safer societies around the world.

    </p>

      <p class="content-padded">
      We’re building on that heritage by empowering our world-class employees to break new ground. By thinking innovatively we’re pushing intellectual and technological boundaries - keeping us ahead of today’s complex defence and security challenges.

    </p>

      <p class="content-padded">
      Our thinking also embodies drive, expertise and trust – values that help us work collaboratively and pragmatically together with our customers and partners. But it's the products and solutions that emerge from our thinking that give us a distinct advantage over our competitors - our <b>thinking edge</b>.
    </p>
      
  <!-- the end of content padded-->
     <!-- <li data-ng-repeat="theater in theaters">
        <a href="#">
          <strong>{{theater.name}}</strong>
          <p>{{theater.address}}</p>
        </a>
      </li> -->
    
  </div>