  <header class="bar-title">
 <a class="button-prev" href="#/">
      Back
    </a>
   <!-- <img class="logo" src="img/saab_logo.png"  > -->
      
      <div class="logo"><img src="img/saab_logo.png"  ></div>
    <div class="dropdown">drop</div>
  </header>
 <nav class="bar-tab">
    <ul class="tab-inner">
      
    
      <li class="tab-item">
        <a href="http://www.saabgroup.com/en/Portals/Saab-Brand-Portal/">
          <img class="tab-icon" src="img/icon-settings.png">
          <div class="tab-label">Saab Brand Portal</div>
        </a>
      </li>
    </ul>
  </nav>

<div class="content">

    <ul class="list">
      <li class="list-divider">{{page.caption}}</li>
    </ul>
      
      <!--header-->
      <div class="content-padded" >
              <div class="number">
            {{page.number}}
          </div>
          
          <div class="cap-wrap">
                <div class="upper-thin">
                    {{page.name}}
                </div>

                <div class="lower-thick">
                  {{page.name2}}
                </div>
          </div>

          
          <div style="clear:both;">
    <!-- the end of header -->

        <p class="content-padded">Presenting Saab in a clear and consistent way requires flexible communications that can respond to the different needs and expectations of everyone we come in contact with – through whichever channel they see us.</p>

        <p class="content-padded">So, from our Brand Essence, we’ve developed a communications framework that is relevant to all of our stakeholders – from our employees and partners to governments and other customers. </p>

        <p class="content-padded">To enable communications to be tailored to our stakeholders’ varying needs, the framework consists of stakeholder contexts and narratives. A stakeholder context is a key issue that concerns our stakeholders. A stakeholder narrative is Saab’s response to that issue.</p>

      <h3 class="content-padded">CONTEXT, NARRATIVES AND LINKS</h3>


<!-- box -->
  <div class="saab-box content-padded" >
      <div class="context">
        <p class=""><b>Context</b>:My stakeholders want to <b>make the world a safer place.</b></p>
        <ul class="custom-list">
          <li >Protect people and society from existing and emerging threats.
          </li>
          <li>  
Provide protection through cutting edge products and solutions
          </li>
        </ul>
      </div>

      <div class="narrative">

        <p class=""><b>Narrative</b>: <b>Keeping people and society safe.</b></p>
         <ul class="custom-list">
        <li>Saab believes everybody has the right to feel safe.</li>
        <li>Saab exists to provide safety and security through innovative thinking.</li>
        </ul>
      </div>
      
  </div>
<!-- end of box-->


<!-- box 2-->
  <div class="saab-box content-padded" >
      <div class="context">
        <p class=""><b>Context</b>: My stakeholders have <b>changing environments and changing needs.</b></p>
        <ul class="custom-list">
          <li >Keeping one step ahead of today’s complex defence and security challenges.
          </li>
          <li>  
            They want technology that is prepared for the challenges of tomorrow.
          </li>
        </ul>
      </div>

      <div class="narrative">

        <p class=""><b>Narrative</b>: <b>Anticipating tomorrow.</b></p>
         <ul class="custom-list">
        <li>Saab are continuously thinking about stakeholders’ future needs.</li>
        <li>Saab's products and solutions are developed with future capabilities in mind.</li>
        </ul>
      </div>
      
  </div>
<!--end of box 2-->

<!-- box 3-->
  <div class="saab-box content-padded" >
      <div class="context">
        <p class=""><b>Context</b>: My stakeholders need to <b>enhance their capabilities with smarter solutions.</b></p>
        <ul class="custom-list">
          <li >Using smarter solutions to improve their outcomes.
          </li>
          <li>  
            Gaining an advantage through practical and cost-effective solutions.
          </li>
        </ul>
      </div>

      <div class="narrative">

        <p class=""><b>Narrative</b>: <b>Giving your capability the edge.</b></p>
         <ul class="custom-list">
        <li>Saab delivers enhanced and sustained capabilities by innovative thinking.</li>
        <li>Saab’s pragmatic approach to problem solving can improve your
performance and effectiveness.
</li>
        </ul>
      </div>
      
  </div>
<!--end of box 3-->


<!-- box 4-->
  <div class="saab-box content-padded" >
      <div class="context">
        <p class=""><b>Context</b>:My stakeholders need <b> partnering and collaboration.</b></p>
        <ul class="custom-list">
          <li >Forming ties with businesses who share technology, ambition and pride.
          </li>
          <li>  
            Committing to developing local markets and communities.
          </li>
        </ul>
      </div>

      <div class="narrative">

        <p class=""><b>Narrative</b>: <b>Bringing ideas together.</b></p>
         <ul class="custom-list">
        <li>Saab has a firm belief in investing in local businesses and industries.</li>
        <li>Saab believes in sharing technology, ideas and thinking.
</li>
        </ul>
      </div>
      
  </div>
<!--end of box 4-->


<!-- box 5-->
  <div class="saab-box content-padded" >
      <div class="context">
        <p class=""><b>Context</b>:My stakeholders need <b> partnering and collaboration.</b></p>
        <ul class="custom-list">
          <li >Forming ties with businesses who share technology, ambition and pride.
          </li>
          <li>  
            Committing to developing local markets and communities.
          </li>
        </ul>
      </div>

      <div class="narrative">

        <p class=""><b>Narrative</b>: <b>Bringing ideas together.</b></p>
         <ul class="custom-list">
        <li>Saab has a firm belief in investing in local businesses and industries.</li>
        <li>Saab believes in sharing technology, ideas and thinking.
</li>
        </ul>
      </div>
      
  </div>
<!--end of box 5-->


  
  </div>