<!--
// Pomidoro Mobile Application
// RootControllerView.html
//
// created by @sauliuz
// PopularOwl Labs // www.popularowl.com
// Visit www.htmlcenter.com 
// for more mobile application templates
-->
 <div class="dropdown-expanded content-padded"> 
 <ul class="content-padded" >

    <li ng-repeat="slide in slides" class="content-padded">
         <a href="#/page/{{slide.id}}">{{slide.caption}}</a>
    </li>
 
 </ul>
 </div>
 
  <header class="bar-title">
 
   <!-- <img class="logo" src="img/saab_logo.png"  > -->
      
    <div class="logo"><img src="img/saab_logo.png"  ></div>
    <div class="dropdown"><div class="drop">drop</div></div>
    
     
  </header>


  <nav class="bar-tab">
    <ul class="tab-inner">
      
   
      <li class="tab-item">
        <a href="http://www.saabgroup.com/en/Portals/Saab-Brand-Portal/">
          <img class="tab-icon" src="img/icon-settings.png">
          <div class="tab-label">Saab Brand Portal</div>
        </a>
      </li>
    </ul>
  </nav>

  <div class="content">
    <ul class="list">
      <li class="list-divider">HOME</li>

     <!-- <li ng-show="!ready">
        Receiving data...
      </li>-->

    

      <li  ng-repeat="slide in slides">
        <a href="#/page/{{slide.id}}">


          <div class="number">
            {{slide.number}}
          </div>
          
          <div class="cap-wrap">
                <div class="upper-thin">
                    {{slide.name}}
                </div>

                <div class="lower-thick">
                  {{slide.name2}}
                </div>
          </div>


          <div style="clear:both;">

          </div>   
        </a>
      </li>


    </ul>

  </div>

<script src="js/drop.js"></script>
